<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Movie Reccommendation System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
   
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Movie Reccommendation System</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ url_for('hello') }}">Home</a></li>
          <!li><!a href="register.html">Register<!/a><!/li>
          <!li><!a href="login.html">Login<!/a><!/li>
          <!li><!a href="logout.html">Logout<!/a><!/li>
         
        </ul>
      </div>
    </nav>

    <section>{% block content %} {% endblock %}</section>
  </body>
</html>
